<html>
    <head>
        <title>Deno Word Finder</title>
        <meta name="version" content="1.0">
    </head>
    <body>
        <h1>Deno Word Finder</h1>

        <form id="perform-search" name="perform-search" method="get" action="/api/search">
            <label for="search-text">Search text:</label>
            <input id="search-text" name="search-text" type="text" value="<%= pattern %>" />
            <input type="submit" />
        </form>

        <% if(words.length != 0) { %>
            <p id="search-result-count" data-count="<%= words.length %>">Words found: <%= words.length %></p>
        <ul id="search-result" name="search-results">
            <% for(var i = 0; i < words.length; i++) { %>
                <li><%= words[i] %></li>
            <% } %>
            </ul>
        <% } %>

        <h2>Instructions</h2>

        <p>
            Enter a word using _ and ? as needed for unknown characters. Using ? means to include letters that aren't already used (you can think of it as a "Wheel of Fortune" placeholder). Using _ will find words that contain any character (whether it's currently "revealed" or not).
            <br />
            <br />
            For example, go?????e would return:
            <ul>
                <li>GOADLIKE</li>
                <li>GOATLIKE</li>
                <li>GOBSHITE</li>
                <li>GOLDSIZE</li>
            </ul>
            <br />
            And go_____e would return:
            <ul>
                <li>GOADLIKE</li>
                <li>GOATLIKE</li>
                <li>GOBSHITE</li>
                <li>GOETHITE</li>
                <li>GOLDSIZE</li>
                <li>GONGLIKE</li>
                <li>GONOCYTE</li>
                <li>GONOPORE</li>
                <li>GOODSIRE</li>
                <li>GOODTIME</li>
                <li>GOODWIFE</li>
            </ul>
        </p>
    </body>
</html>
